@font-face {
 font-family:"CaesarForMe";
 src: url('https://j-co.ga/BetterGFMotesDB/fonts/CaesarForMe.ttf');
}

a[href|="#encrypt"],a[href|="#encrypt"],body:lang(bc) a[href|="#encrypt"],body:lang(bc) a[href|="#encrypt"] {
    font-family: "CaesarForMe"!important;
    color: black!important;
    cursor: text;

}