#opener
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}

img {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

body{
   width:400px!important;
   height:500px!important;
   }

    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }

.material-icons{
    color:white;
}

#BetterGFMotesSelectScreen {
    visibility: hidden
    z-index: -1;
    border-style: solid;
    border-width: 15px;
}