/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:a073b08bbf2a96ef1fa1fdc21cb31a6b:148d54fe24a09224bd59fd6d2d8a7ec1:518f830727f881ee776ccb37925a6bd5$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(bettergfmotes_static.png);}

.88freshes {width:100px; height:100px; background-position: -497px -640px}
.adorablles {width:70px; height:70px; background-position: -140px -420px}
.airquote {width:70px; height:70px; background-position: -350px -420px}
.alex {width:70px; height:70px; background-position: -210px -420px}
.alex2 {width:70px; height:67px; background-position: -448px -0px}
.alexbill {width:70px; height:67px; background-position: -518px -0px}
.alexclown {width:70px; height:70px; background-position: -280px -420px}
.alexscared {width:70px; height:70px; background-position: -70px -420px}
.angrybill {width:70px; height:70px; background-position: -1680px -350px}
.beastoneeye {width:70px; height:70px; background-position: -1260px -350px}
.bighenry {width:70px; height:70px; background-position: -1400px -350px}
.bill {width:70px; height:70px; background-position: -1610px -350px}
.billdeal {width:70px; height:70px; background-position: -1470px -350px}
.billdin {width:70px; height:70px; background-position: -1540px -350px}
.billexpression {width:70px; height:70px; background-position: -560px -420px}
.billexpression-frame2 {width:70px; height:70px; background-position: -420px -420px}
.billlaugh {width:70px; height:70px; background-position: -959px -420px}
.billohmy {width:70px; height:70px; background-position: -1029px -420px}
.billtbgf {width:70px; height:70px; background-position: -1169px -420px}
.bipper {width:70px; height:70px; background-position: -1379px -420px}
.bippermad {width:70px; height:70px; background-position: -1239px -420px}
.bipperpretty {width:70px; height:70px; background-position: -1309px -420px}
.bippersmile {width:70px; height:70px; background-position: -1099px -420px}
.bippyfresh {width:49px; height:70px; background-position: -910px -420px}
.bitchplease {width:64px; height:64px; background-position: -250px -0px}
.blackbill {width:70px; height:70px; background-position: -490px -420px}
.blendin {width:70px; height:70px; background-position: -630px -420px}
.blindeye {width:70px; height:70px; background-position: -840px -420px}
.blindeyeguy {width:70px; height:70px; background-position: -700px -420px}
.blindivan {width:70px; height:70px; background-position: -770px -420px}
.bodyisready {width:70px; height:70px; background-position: -1330px -350px}
.bord {width:70px; height:70px; background-position: -1190px -350px}
.budangry {width:70px; height:70px; background-position: -1470px -280px}
.budeon {width:70px; height:70px; background-position: -1610px -280px}
.burnit {width:70px; height:70px; background-position: -70px -350px}
.butter {width:70px; height:70px; background-position: -1680px -280px}
.buttivan {width:70px; height:70px; background-position: -0px -350px}
.bwaaa {width:70px; height:70px; background-position: -1540px -280px}
.candle {width:70px; height:70px; background-position: -1400px -280px}
.candy {width:70px; height:70px; background-position: -980px -280px}
.cblater {width:70px; height:66px; background-position: -378px -0px}
.chillpill {width:100px; height:79px; background-position: -1507px -560px}
.creepygideon {width:70px; height:70px; background-position: -1120px -280px}
.cryofjoy {width:70px; height:70px; background-position: -1330px -280px}
.crystable {width:70px; height:70px; background-position: -1190px -280px}
.cutemabel {width:70px; height:70px; background-position: -1260px -280px}
.danconfused {width:70px; height:70px; background-position: -140px -350px}
.death {width:70px; height:70px; background-position: -280px -350px}
.didyamissme {width:70px; height:70px; background-position: -700px -350px}
.dipawe {width:70px; height:70px; background-position: -770px -350px}
.dipcheer {width:70px; height:70px; background-position: -910px -350px}
.dipcrazy {width:70px; height:70px; background-position: -1120px -350px}
.dipcry {width:70px; height:70px; background-position: -980px -350px}
.dipdoh {width:70px; height:70px; background-position: -1050px -350px}
.dipexcite {width:70px; height:70px; background-position: -840px -350px}
.dipmad {width:70px; height:70px; background-position: -630px -350px}
.dipper {width:70px; height:70px; background-position: -210px -350px}
.dipper2 {width:70px; height:70px; background-position: -350px -350px}
.dippergross {width:70px; height:70px; background-position: -560px -350px}
.dipperpony {width:100px; height:115px; background-position: -597px -640px}
.dipponder {width:70px; height:70px; background-position: -420px -350px}
.dippyfresh {width:70px; height:70px; background-position: -490px -350px}
.dipsad {width:70px; height:70px; background-position: -1050px -280px}
.dipsass {width:64px; height:64px; background-position: -314px -0px}
.dipslap {width:70px; height:70px; background-position: -490px -490px}
.dipthink {width:70px; height:70px; background-position: -280px -560px}
.disapproval {width:70px; height:70px; background-position: -420px -560px}
.distressmabel {width:70px; height:70px; background-position: -637px -560px}
.duckface {width:77px; height:70px; background-position: -490px -560px}
.ducktective {width:70px; height:70px; background-position: -567px -560px}
.ducktwin {width:70px; height:70px; background-position: -350px -560px}
.eatable {width:70px; height:70px; background-position: -210px -560px}
.eesh {width:70px; height:70px; background-position: -1595px -490px}
.evilfresh {width:70px; height:70px; background-position: -1735px -490px}
.excited {width:70px; height:70px; background-position: -707px -560px}
.extroar {width:70px; height:70px; background-position: -0px -560px}
.eyebrowstan {width:70px; height:70px; background-position: -70px -560px}
.eyeroll {width:70px; height:70px; background-position: -1665px -490px}
.ford {width:70px; height:70px; background-position: -1057px -560px}
.fordeatskids {width:70px; height:70px; background-position: -1127px -560px}
.fordmad {width:70px; height:70px; background-position: -1197px -560px}
.fordscream {width:70px; height:70px; background-position: -1267px -560px}
.fordshades {width:70px; height:70px; background-position: -777px -560px}
.franz {width:70px; height:70px; background-position: -847px -560px}
.franzidea {width:70px; height:70px; background-position: -987px -560px}
.franzmad {width:70px; height:70px; background-position: -917px -560px}
.frenchbills {width:70px; height:70px; background-position: -140px -560px}
.friskyfresh {width:42px; height:70px; background-position: -1589px -420px}
.gamegirl {width:70px; height:70px; background-position: -140px -490px}
.getem {width:70px; height:70px; background-position: -280px -490px}
.gideon {width:70px; height:70px; background-position: -1525px -490px}
.gideonbot {width:70px; height:70px; background-position: -350px -490px}
.gideongrin {width:70px; height:70px; background-position: -420px -490px}
.gideonplan {width:70px; height:70px; background-position: -210px -490px}
.gnome {width:70px; height:70px; background-position: -70px -490px}
.gorney {width:70px; height:70px; background-position: -1519px -420px}
.government {width:70px; height:70px; background-position: -1631px -420px}
.grenda {width:70px; height:70px; background-position: -0px -490px}
.grumpymabel {width:70px; height:70px; background-position: -1701px -420px}
.grunkle {width:70px; height:70px; background-position: -560px -490px}
.grunklemad {width:70px; height:70px; background-position: -700px -490px}
.handwitch {width:80px; height:80px; background-position: -1607px -560px}
.happymabel {width:70px; height:70px; background-position: -1120px -490px}
.heraim {width:70px; height:70px; background-position: -1260px -490px}
.heygurl {width:70px; height:70px; background-position: -1455px -490px}
.heyyou {width:55px; height:70px; background-position: -1330px -490px}
.heyyoutbgf {width:70px; height:70px; background-position: -1385px -490px}
.hoh {width:173px; height:100px; background-position: -240px -640px}
.holysoos {width:70px; height:70px; background-position: -1190px -490px}
.icansellthis {width:70px; height:70px; background-position: -1050px -490px}
.ieatkids {width:70px; height:77px; background-position: -1437px -560px}
.impressed {width:70px; height:70px; background-position: -630px -490px}
.indianadipper {width:70px; height:70px; background-position: -770px -490px}
.jammyfresh {width:84px; height:100px; background-position: -413px -640px}
.journal1 {width:70px; height:70px; background-position: -980px -490px}
.journal2 {width:70px; height:70px; background-position: -840px -490px}
.journal3 {width:70px; height:70px; background-position: -910px -490px}
.kermit {width:70px; height:70px; background-position: -1449px -420px}
.ladysoosan {width:70px; height:70px; background-position: -1655px -210px}
.lookonhisface {width:70px; height:70px; background-position: -972px -70px}
.lotsofthings {width:70px; height:70px; background-position: -910px -280px}
.lovegod {width:70px; height:70px; background-position: -1042px -70px}
.mabel {width:70px; height:70px; background-position: -1182px -70px}
.mabelcry {width:70px; height:70px; background-position: -1392px -70px}
.mabelcute {width:70px; height:70px; background-position: -1252px -70px}
.mabelevil {width:70px; height:70px; background-position: -1322px -70px}
.mabelgoof {width:70px; height:70px; background-position: -1112px -70px}
.mabelgross {width:70px; height:70px; background-position: -902px -70px}
.mabelgum {width:70px; height:70px; background-position: -482px -70px}
.mabelhallucination {width:500px; height:282px; background-position: -1247px -640px}
.mabelidk {width:70px; height:70px; background-position: -622px -70px}
.mabelopen {width:70px; height:70px; background-position: -832px -70px}
.mabelpony {width:100px; height:73px; background-position: -1337px -560px}
.mabelsquee {width:70px; height:70px; background-position: -692px -70px}
.mabelsweater {width:70px; height:70px; background-position: -762px -70px}
.mabeltbgf {width:70px; height:70px; background-position: -1462px -70px}
.mabelwat {width:70px; height:70px; background-position: -1602px -70px}
.manataur {width:70px; height:70px; background-position: -210px -140px}
.manlydip {width:70px; height:70px; background-position: -280px -140px}
.matchmade {width:70px; height:70px; background-position: -420px -140px}
.mayhog {width:70px; height:70px; background-position: -630px -140px}
.mayor {width:70px; height:70px; background-position: -490px -140px}
.mcevil {width:70px; height:70px; background-position: -560px -140px}
.mcg {width:70px; height:70px; background-position: -350px -140px}
.meowmeow {width:70px; height:70px; background-position: -140px -140px}
.mermando {width:70px; height:70px; background-position: -1532px -70px}
.muted {width:70px; height:70px; background-position: -1672px -70px}
.mybrother {width:70px; height:70px; background-position: -70px -140px}
.nevermindallthat.jpeg {width:300px; height:169px; background-position: -697px -640px}
.noo {width:70px; height:70px; background-position: -1742px -70px}
.noooo {width:70px; height:70px; background-position: -412px -70px}
.nope {width:70px; height:70px; background-position: -552px -70px}
.notimpressed {width:70px; height:70px; background-position: -1187px -0px}
.onedoesnot {width:70px; height:70px; background-position: -1047px -0px}
.oooh {width:70px; height:70px; background-position: -1117px -0px}
.pacifimom {width:70px; height:70px; background-position: -767px -0px}
.pacifisad {width:70px; height:70px; background-position: -588px -0px}
.pacifisad2 {width:70px; height:70px; background-position: -658px -0px}
.pacifiwhat {width:70px; height:70px; background-position: -1257px -0px}
.paperjam {width:70px; height:70px; background-position: -1397px -0px}
.partygurl {width:70px; height:70px; background-position: -0px -70px}
.pazmad {width:70px; height:70px; background-position: -140px -70px}
.pinescream {width:70px; height:70px; background-position: -342px -70px}
.pixelaugh {width:70px; height:70px; background-position: -210px -70px}
.pixelsass {width:62px; height:70px; background-position: -280px -70px}
.pout {width:70px; height:70px; background-position: -70px -70px}
.prettyface {width:70px; height:70px; background-position: -1677px -0px}
.puppetdipper {width:70px; height:70px; background-position: -1327px -0px}
.puppetmabel {width:70px; height:70px; background-position: -1467px -0px}
.puppetsoos {width:70px; height:70px; background-position: -1607px -0px}
.puppetstan {width:70px; height:70px; background-position: -1537px -0px}
.puppetwendy {width:70px; height:70px; background-position: -907px -0px}
.redditsilver {width:250px; height:221px; background-position: -997px -640px}
.rippyfresh {width:39px; height:70px; background-position: -728px -0px}
.robbie {width:70px; height:70px; background-position: -977px -0px}
.robbiesoso {width:70px; height:70px; background-position: -837px -0px}
.sadt {width:70px; height:70px; background-position: -0px -140px}
.sass {width:70px; height:70px; background-position: -840px -140px}
.scarytree {width:70px; height:70px; background-position: -1355px -210px}
.screamhead {width:70px; height:70px; background-position: -1473px -210px}
.shapeshifter {width:70px; height:70px; background-position: -700px -140px}
.smiledip {width:70px; height:70px; background-position: -1543px -210px}
.snoo-dipper {width:42px; height:70px; background-position: -1613px -210px}
.snoo-mabel {width:48px; height:70px; background-position: -1425px -210px}
.snoo-questiony {width:53px; height:70px; background-position: -1302px -210px}
.snoos {width:39px; height:70px; background-position: -913px -210px}
.somethingbig {width:70px; height:70px; background-position: -1022px -210px}
.soos {width:70px; height:70px; background-position: -1232px -210px}
.soosamaze {width:70px; height:70px; background-position: -1092px -210px}
.soosfaint {width:70px; height:70px; background-position: -1162px -210px}
.soosgasp {width:70px; height:70px; background-position: -1725px -210px}
.soosheart {width:70px; height:70px; background-position: -70px -280px}
.soostounge {width:70px; height:70px; background-position: -490px -280px}
.soosweird {width:70px; height:70px; background-position: -630px -280px}
.stan {width:70px; height:70px; background-position: -840px -280px}
.stanbucks {width:70px; height:70px; background-position: -700px -280px}
.stangrin {width:80px; height:80px; background-position: -1687px -560px}
.stanrun {width:70px; height:70px; background-position: -770px -280px}
.stansquint {width:80px; height:80px; background-position: -80px -640px}
.stanthink {width:70px; height:70px; background-position: -560px -280px}
.stantounge {width:70px; height:70px; background-position: -420px -280px}
.stanwow {width:70px; height:70px; background-position: -0px -280px}
.star {width:70px; height:70px; background-position: -140px -280px}
.steven {width:70px; height:70px; background-position: -350px -280px}
.su-dippyfresh {width:60px; height:60px; background-position: -60px -0px}
.su-joaje {width:60px; height:60px; background-position: -0px -0px}
.su-princess {width:60px; height:60px; background-position: -120px -0px}
.summerween {width:80px; height:80px; background-position: -160px -640px}
.sweatertown {width:70px; height:70px; background-position: -210px -280px}
.tad {width:70px; height:70px; background-position: -280px -280px}
.throwup {width:70px; height:70px; background-position: -952px -210px}
.thumbdown {width:70px; height:70px; background-position: -843px -210px}
.timebaby {width:70px; height:70px; background-position: -1190px -140px}
.toomuch {width:70px; height:70px; background-position: -1330px -140px}
.trickster {width:70px; height:70px; background-position: -1540px -140px}
.trigger {width:70px; height:70px; background-position: -1400px -140px}
.trytosmile {width:70px; height:70px; background-position: -1470px -140px}
.tyrone {width:70px; height:70px; background-position: -1260px -140px}
.udabest {width:70px; height:70px; background-position: -1120px -140px}
.ugh {width:70px; height:63px; background-position: -180px -0px}
.umm {width:80px; height:80px; background-position: -0px -640px}
.unseenjoaje {width:70px; height:70px; background-position: -770px -140px}
.usausa {width:70px; height:70px; background-position: -910px -140px}
.usethem {width:70px; height:70px; background-position: -1050px -140px}
.waddles {width:70px; height:70px; background-position: -980px -140px}
.waddleswag {width:70px; height:70px; background-position: -1610px -140px}
.wander {width:70px; height:70px; background-position: -0px -210px}
.wearewomen {width:70px; height:70px; background-position: -420px -210px}
.wendisappoint {width:73px; height:70px; background-position: -560px -210px}
.wendy {width:70px; height:70px; background-position: -773px -210px}
.wendylight {width:70px; height:70px; background-position: -703px -210px}
.wendylight-on {width:70px; height:70px; background-position: -633px -210px}
.wendyread {width:70px; height:70px; background-position: -490px -210px}
.wendyreal {width:70px; height:70px; background-position: -350px -210px}
.wendyup {width:70px; height:70px; background-position: -1680px -140px}
.wink {width:70px; height:70px; background-position: -70px -210px}
.wirt {width:70px; height:70px; background-position: -280px -210px}
.woodip {width:70px; height:70px; background-position: -140px -210px}
.yesido {width:70px; height:70px; background-position: -210px -210px}
.youngblubs {width:70px; height:70px; background-position: -0px -420px}
